# Supabase Configuration
SUPABASE_URL=https://bfryfovrnzqqllqfsqgi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmcnlmb3ZybnpxcWxscWZzcWdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkwNjkxOTIsImV4cCI6MjA2NDY0NTE5Mn0.8wqADuSz_Ri-EoNdJzMeJ-IHppOUNuPGY47IU8Tzpt0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmcnlmb3ZybnpxcWxscWZzcWdpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTA2OTE5MiwiZXhwIjoyMDY0NjQ1MTkyfQ.xqgWK_b0r2qFN63necxOqQ6TbH987216dLqG6MUTGiw

# JWT Configuration
JWT_SECRET=c9b907a2b5009050f9f434afc858a36847faf3308187247cb7b568ca8e334542
JWT_EXPIRES_IN=7d

# AI API Configuration
GEMINI_API_KEY=AIzaSyBT6NxRsy0d9NSUYJhTnfEPdXY0Ws5TE2Y

# Cloudinary Configuration (Avatar uploads)
CLOUDINARY_CLOUD_NAME=dndsm7mzf
CLOUDINARY_API_KEY=972683328492382
CLOUDINARY_API_SECRET=puYD1Tswv4iK0zEjW2aHxYueuf8